[Unit]
Description=Start scheduled FGBears Instagram simulcast
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start fgbears-instagram-relay.service
