[Unit]
Description=Stop scheduled FGBears Instagram simulcast

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl stop fgbears-instagram-relay.service
