BROADCAST_ORIGIN=https://epiccontentcreatorgrants.org
HEARTBEAT_URL=https://epiccontentcreatorgrants.org/api/public/fgbears/transport-heartbeat
FGB_TRANSPORT_HEARTBEAT_SECRET=REPLACE_SECURELY_ON_HOST
HOST_LABEL=ovh-fgb-transport-1
YOUTUBE_DESTINATIONS=
RUMBLE_STUDIO_INGEST_URL=
RUMBLE_STUDIO_STREAM_KEY=
BRIDGE_RENDER_TARGET=rumble
VIDEO_BITRATE=3000k
AUDIO_BITRATE=128k
STALL_SECONDS=20
RELOAD_EVERY_SECONDS=21600
